.box {
  width: 80%;
  background-color: var(--formColor);
  backdrop-filter: blur(5px);
  height: 600px;
  border-radius: 8px;
  margin: 10px;
  overflow: auto;
  text-align: center;
  color: white;
}

.titlebox {
  color: var(--lightBlue);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  background-color: var(--dataRowBlue);
  border-bottom: 1px solid var(--lightBlue);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-bottom: 10px;
}

.header {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 94%;
  padding-left: 20px;
}

.title {
  padding-left: 30px;
  padding-right: 20px;
}

.titlecluster {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search{
  width: auto;
  border-radius: 8px;
  margin-left: 20px;
  border: 1px solid var(--lightBlue);
  color: white;
  background-color: inherit;
}

.export {
  height: 20px;
  background-color: var(--lightBlue);
  border: 1px solid var(--lightBlue);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: white;
  margin-left: 5px;
}

.export:hover {
  color: var(--lightBlue);
  background-color: white;
}

@media (max-width: 767px) {
  .box {
    padding: 10px;
  }

  .title {
    margin: 0;
    padding: 0;
    padding-right: 10px;
  }

  .titlebox {
    margin: 0;
    margin-bottom: 10px;
    padding: 10px;
    padding-left: 8px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }

  .header {
    font-size: 10px;
    padding-left: 0px;
    justify-content: space-around;
    width: 100%;
  }
}
