.vs
bin
obj
*.cache
Back-End/AIF/obj/project.nuget.cache
Back-End/AIF/obj/project.assets.json
Back-End/AIF/obj/Debug/net7.0/AIF.GeneratedMSBuildEditorConfig.editorconfig
Back-End/AIF/obj/Debug/net7.0/AIF.csproj.AssemblyReference.cache
Back-End/AIF/obj/Debug/net7.0/AIF.assets.cache
Back-End/AIF/obj/AIF.csproj.nuget.g.targets
Back-End/AIF/obj/AIF.csproj.nuget.g.targets
Back-End/AIF/obj/AIF.csproj.nuget.g.props
Back-End/AIF/obj/AIF.csproj.nuget.dgspec.json
Back-End/AIF/.vs/AIF/xs/project-cache/AIF-Debug.json
Back-End/AIF/.vs/AIF/FileContentIndex/5a99ca4f-3ec1-4cf3-bbb7-df749a0b670d.vsidx
Back-End/AIF/.vs/AIF/FileContentIndex/5a99ca4f-3ec1-4cf3-bbb7-df749a0b670d.vsidx
Back-End/AIF/.vs/AIF/FileContentIndex/798a35fd-2719-404c-8cbc-2d31307acc92.vsidx
Back-End/AIF/.vs/AIF/FileContentIndex/ec4c23f9-5fbd-45a5-a305-0dc421a80632.vsidx
Back-End/AIF/.vs/AIF/FileContentIndex/ee46ecf1-641b-43a4-9d8b-ac09c55e7c34.vsidx
Back-End/AIF/.vs/AIF/v17/.suo
Back-End/AIF/bin/Debug/net7.0/AIF.dll
Back-End/AIF/bin/Debug/net7.0/AIF.pdb
Back-End/AIF/obj/AIF.csproj.nuget.dgspec.json
Back-End/AIF/obj/AIF.csproj.nuget.g.props
Back-End/AIF/obj/Debug/net7.0/AIF.assets.cache
Back-End/AIF/obj/Debug/net7.0/AIF.csproj.AssemblyReference.cache
Back-End/AIF/obj/Debug/net7.0/AIF.csproj.CoreCompileInputs.cache
Back-End/AIF/obj/Debug/net7.0/AIF.csproj.FileListAbsolute.txt
Back-End/AIF/obj/Debug/net7.0/AIF.dll
Back-End/AIF/obj/Debug/net7.0/AIF.GeneratedMSBuildEditorConfig.editorconfig
Back-End/AIF/obj/Debug/net7.0/AIF.genruntimeconfig.cache
Back-End/AIF/obj/Debug/net7.0/AIF.MvcApplicationPartsAssemblyInfo.cs
Back-End/AIF/obj/Debug/net7.0/AIF.pdb
Back-End/AIF/obj/project.assets.json
Back-End/AIF/obj/project.nuget.cache
Back-End/AIF/.vs/AIF/config/applicationhost.config
Back-End/AIF/.DS_Store
