.row {
    background-color: var(--dataRowBlue);
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 8px;
    max-width: 96%;
    margin-left: 2%;
    margin-right: 2%;
  }
  
  .symbol {
    color: var(--lightBlue);
    margin: 0;
  }
  
  .price {
    color: white;
    margin: 0;
    font-size: 16px;
  }
  
  /* Media Queries */
  @media (max-width: 767px) {
    .row {
      max-width: 100%;
      margin-left: 2px;
      margin-right: 2px;
    }
  
    .symbol,
    .price {
      font-size: 10px;
    }
  }
  