.container {
    position: relative;
    background-image: url(src/Images/662960.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box {
    height: 600px;
    width: 400px;
    background-color: white;
    border: 1px solid var(--lightBlue);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    animation: slide-up 0.3s ease-in-out;
  }
  
  @keyframes slide-up {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
.profilePic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid var(--lightBlue);
    object-fit: cover;
    margin-bottom: 20px;
}

.userinfo{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: var(--headerBlue);
    border-radius: 8px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.profileAttributes{
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: white;
    padding: 20px;
    height: 100vh;
    justify-content: start;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.usercell > h3{
    color: darkgrey;
    margin: 0px
}

.usercell > h4{
    color: black;
    margin: 0px;
}

.usercell{
    margin-top: 10px;
}

.change{
    color: var(--lightBlue);
    text-decoration: underline;
}

.homebutton{
    width: 60px;
    color: white;
    background-color: var(--lightBlue);
    border: none;
    border-radius: 8px;
}

.returndiv{
    display: flex;
    justify-content: center;
    padding: 10px;
}