.box{
    background-color: var(--dataRowBlue);
    width: 90%;
    margin-left: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.title{
    padding-left: 10px;
    text-decoration: underline;
    color: var(--lightBlue);
}

.content{
    padding-left: 10px;
}

