
.container {
    position: relative;
    background-image: url(src/Images/earthstar.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .form {
    z-index: 1;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    padding: 40px;
    border-radius: 8px;
    box-shadow: var(--boxShadow);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0px 4px 8px black ;
  }
  
  .title {
    text-align: center;
    margin-bottom: 20px;
    color: var(--lightBlue);
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-bottom-left-radius: 8px;
    border-bottom: 2px solid var(--lightBlue);
    border-left: 2px solid var(--lightBlue);
    border-top: none;
    border-right: none;
    background-color: inherit;
    color: #fff;
  }

  input:focus{
    outline: none;
  }
  
  .registerInputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .registerButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .button {
    padding: 10px 20px;
    background: var(--lightBlue);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .image {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 400px;
  }

  .redirect{
    color: white;
  }
  
  .link{
    color: var(--lightBlue);
  }
  
  /* Responsive Styles */
  @media only screen and (max-width: 768px) {
    .form {
      width: 90%;
      margin-left: 10px;
      margin-right: 10px;
      padding: 10px;
    }
    
    .image {
      width: 90%;
    }
  }