.info {
  width: 82.6%;
  background-color: var(--formColor);
  backdrop-filter: blur(5px);
  height: 200px;
  border-radius: 8px;
  margin: 20px;
  padding: 6px;
  opacity: 0;
  animation: fade-in-bottom 1s ease forwards;
}

.content {
  padding: 6px;
  color: white;
  background-color: var(--dataRowBlue);
  border-radius: 8px;
}

@keyframes fade-in-bottom {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 767px) {
  .info {
    padding: 10px;
    margin: 5%;
    width: 95%;
    height: auto;
  }
}
