.info{
    width: 82.6%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    height: 200px;
    border-radius: 8px;
    margin: 20px;
    overflow: auto;
    box-shadow: var(--boxShadow);
  }


  @media (max-width: 767px){
    .info{
      padding: 10px;
    }
  }
  