.header {
  background-color: var(--headerBlue);
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoImage {
  color: white;
  margin: 0;
  font-size: 32px;
  opacity: 0;
  animation: fade-in-left 1s ease forwards;
  width: 100%;
  max-width: 200px;
}

.profileIcon {
  color: white;
  border-radius: 50%;
  border: 2px solid var(--lightBlue);
  opacity: 0;
  animation: fade-in-right 1s ease forwards, pop-up 1s 1s linear forwards;
}

@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes pop-up {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 767px) {
  .header {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
  }
}
