.container {
  position: relative;
  background-image: url(src/Images/662960.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gridrowOdd {
  justify-content: flex-end;
  padding: 10px;
  opacity: 0;
  animation: fade-in-left 1s ease forwards;
}

.gridrowEven {
  justify-content: flex-start;
  padding: 10px;
  opacity: 0;
  animation: fade-in-right 1s ease forwards;
}

.title {
  text-align: left;
  margin-bottom: 30px;
  color: var(--lightBlue);
  letter-spacing: 2px;
  text-transform: uppercase;
  mix-blend-mode: difference;
}

.description {
  text-align: left;
  color: white;
  line-height: 1.5;
  mix-blend-mode: difference;
}

@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 767px) {
  .container {
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
  }

  .content {
    width: 80%;
    max-width: 300px;
    margin: 0 20px;
    padding: 20px;
  }

  .title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .description {
    font-size: 16px;
    line-height: 1.3;
  }

  .box {
    margin: 10px;
    width: 100%;
  }

  .gridrowOdd,
  .gridrowEven {
    justify-content: center;
  }
}
